<!doctype html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="xml2json.min.js"></script>
    <script src="nea_weather.js"></script>    
  </head>

  <body ng-app="NEAWeatherApp">

	<p><a href="#/!">Main</a></p>
	<p><a href="#!nowcast">Nowcast</a></p>
 	<p><a href="#!twentyfour">Twenty Four Hours Forecast</a></p>
 
	 	<ng-view></ng-view>
 	


  <!--
    <h2>{{ weather.title }}</h2>
    <p>Date: {{ weather.date }} Time: {{ weather.time }}</p>
  
	<input type="text" class="form-control" ng-model="weather_search" placeholder="Search">
  
    <table>
    	<thead>
    		<tr>
    			<th>Forecast</th>
    			<th>Latitude</th>
	  			<th>Longitude</th>
	   			<th>Location</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="row in weather.nowcast | filter:weather_search">
    			<td>{{ row._forecast }}</td>
    			<td>{{ row._lat }}</td>
    			<td>{{ row._lon }}</td>
    			<td>{{ row._name }}</td>
   			</tr>
		</tbody>
    </table>
    	-->
  </body>

</html>