/*for fixed top nav bar*/
body {
  padding-top: 60px;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

/*nav bar aesthetics*/
.navbar a {
  color: #B30000; 
  font-size: 1.5em;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

/*aesthetics*/
.container {
  padding:5px 5px 5px 5px;
}

.btn {
  margin:3px 3px 3px 3px;
}

/*aesthetics*/
.black {
 background-color: black;
 color:white;
}

/*aesthetics*/
.green {
  background-color: green;
  color:white;
}

/*aesthetics*/
.red {
  background-color: red;
  color:white;
}

/*aesthetics*/
.blue {
  background-color: blue;
  color:white;
}

/*aesthetics*/
.purple {
  background-color:#FF00FF;
  color:white;
}

/*list title*/
.list-group-title {
  font-size: 1.2em;
}

/*list description*/
.list-group-title p {
  padding:5px 5px 5px 5px;
}

/*contact list in index page*/
#contact_list li {
  display:inline; 
  margin-left:2em;
  margin-right:2em;

}

/*contact list in index page*/
#contact_list li a {
  font-size: 1.5em;
}
