
<style type="text/css">
.nowcast-item.ng-enter,
.nowcast-item.ng-leave,
.nowcast-item.ng-move {
  transition: 0.5s linear all;
}

.nowcast-item.ng-enter,
.nowcast-item.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.nowcast-item.ng-enter.ng-enter-active,
.nowcast-item.ng-move.ng-move-active {
  height: 120px;
  opacity: 1;
}

.nowcast-item.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.nowcast-item.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}	
</style>

<div class="row">
	<div class="col">
		<h2> {{ $ctrl.getTitle() }} ({{ $ctrl.getValidTime() }})</h2>
	</div>
</div>

<div class="input-group">
	<input style="max-width: 350px" ng-model="searchKeyword" placeholder="Search" type="text" class="form-control"/>
</div>

<br>

<table class="table table-striped table-responsive">
	<thead class="thead-light">
		<tr>
			<th>Forecast</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr class="nowcast-item" ng-repeat="row in $ctrl.getWeatherForecast() | filter: searchKeyword">
			<td>{{ row._forecast }}</td>
			<td>{{ row._lat }}</td>
			<td>{{ row._lon }}</td>
			<td>{{ row._name }}</td>
		</tr>
	</tbody>
</table>
