<div id="contentNowCast">

    <div class="row" data-active-view-item="nowcast">
        <h4 class="col"> {{ $ctrl.getTitle() }} ({{ $ctrl.getValidTime() }})</h4>
    </div>

    <div class="row">
        <div class="col">
            <input ng-model="$ctrl.searchKeyword" placeholder="Search" type="text" class="form-control col-sm-12 col-md-3 offset-md-9"/>
            <table class="table table-striped table-responsive-md table-dark table-bordered table-hover">
                <thead>
                <tr>
                    <th>Forecast</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr class="nowcast-item" ng-repeat="row in $ctrl.aCandidates | filter:$ctrl.searchKeyword">
                    <td>{{ row._forecast }}</td>
                    <td>{{ row._lat }}</td>
                    <td>{{ row._lon }}</td>
                    <td>{{ row._name }}</td>
                </tr>
                </tbody>
            </table>
            <ul id="ulPaginator" uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage"
                items-per-page="$ctrl.itemsPerPage"></ul>
        </div>
    </div>

</div>
