/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/*******************************************************************************
 *  Desktop Styling rules
 ******************************************************************************/

/*Full width and height image styles plus transparent menu*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', 'sans-serif';
}

.outer {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../img/marina-bay-skyline.jpg);
    background-size: cover;
}

.bg-light {
    background-color: rgba(0, 0, 0, 0.0) !important;
}

h2, h4, h5, .whiteParas {
    color: #eee;
}

.navbar a {
    color: #eee !important;
}

.navbar a:hover {
    color: #E9ECEF !important;
    font-weight: bold;
}

#navbarNav .active {
    border: 3px #E9ECEF solid;
    border-radius: 10px;
}

#navbarNav .inactive {
    border: 3px #FAFDFF00 solid;
}

/*Fade in animation*/
.view-container {
    position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.view-frame.ng-enter {
    animation: 1s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    animation: 1s fade-out;
    z-index: 99;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*General L-R side-by-side positioning*/
.dOverflowContainer {
    overflow: hidden;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

/*main page location and temp div group styles*/
#landingPageDiv1 {
    width: 500px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    color: #666;
}

#pLocation {
    font-size: 36pt;
    margin-top: 10px;
}

#mapPinDiv {
    position: relative;
}

#mapPinDiv > img {
    width: 50px;
}

#icoClock {
    position: absolute;
    font-size: 32px;
    left: 13px;
    top: 2px;
}

#pTempHiLow {
    font-size: 80px;
}

#pForecastDescription {
    font-size: 14pt;
    margin-left: 15px;
}

.weatherIconsOnly {
    font-size: 80px;
}

/*4 Days Forecast band at the bottom + the extras div*/
.forecastfour {
    color: #eee;
    background: rgba(0, 0, 0, 0.7);
    padding: 0;
}

#landingPageExtraInfo div {
    padding-left: 15px;
    font-size: 14pt;
    margin: 15px 0;
}

/*******************************************************************************
 *  Bootstrap pagination index styling
 *  NOTE: latest version of Bootstrap v4.x.x onward does not support angular-ui
 *  components anymore. Hence, the following set of styles to fix the looks
*******************************************************************************/
#ulPaginator {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right !important;
}

.pagination > li:first-child > a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #E9ECEF;
    border: 1px solid #ddd;
}

.pagination > li {
    display: inline;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #2C3034;
    border-color: #fff;
}

.nowcast-item.ng-enter {
    animation: 1s fade-in;
    z-index: 100;
}

/*General styling across all templates*/
.form-control {
    margin-bottom: 10px;
}

.dShow {
    display: none;
}

/*******************************************************************************
 *  Specific media queries to adjust looks on mobile devices excl. tablets
 ******************************************************************************/

/*Mobile devices (phones) portrait and landscape*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

    /*In mobile view, hide the map pin, the clock face and the date*/
    #mapPinDiv, #mapPinDiv > span, #mapPinDiv > img, #dDate {
        display: none;
    }

    /*Remove all existing floats; we want all in top down vertical scroll*/
    .fLeft, .fRight {
        float: none;
    }

    #pLocation {
        font-size: calc(1em + 1vw);
    }

    #pTempHiLow {
        font-size: calc(2.5em + 2.5vw);
    }

    /*weather icon centering and resizing based on viewport*/
    .weatherIconsOnly {
        font-size: calc(6em + 6vw);
    }

    .dOverflowContainer > p, #pForecastDescription, #pLocation, #pTempHiLow {
        text-align: center;
    }

    /*body actually*/
    .outer {
        background-repeat: no-repeat;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#30E8BF), to(#FF8235));
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    /*temperature and weather icon group*/
    #landingPageDiv1 {
        width: 80%;
        margin: auto;
        position: inherit;
    }

    /*misc info and four days advance forecast*/
    .forecastfour {
        position: inherit;
        background-color: transparent;
    }

    #landingPageExtraInfo div {
        padding-left: 0;
        font-size: calc(0.5em + 1vw);
        margin: 0;
    }

    #landingPageExtraInfo {
        margin: 5% 0;
    }

    .mFourDaysForecast p, .mFourDaysForecast h2, .mFourDaysForecast h3 {
        margin: 0;
    }

    /*represents each "row" of forecast in the scrollable view*/
    .mFourDaysForecast p:nth-child(2), .h3custom, .mFourDaysForecast p:nth-child(4) {
        width: 33.33%;
        float: left;
        border-bottom: 1px solid #eeeeee;
        height: 10vh;
        line-height: 10vh;
    }

    .mFourDaysForecast p:nth-child(4) {
        text-align: right;
    }

    .h3custom {
        font-size: calc(1em + 1vw);
    }

    .nav-item {
        padding-left: 5px;
    }
}

/*@media (min-width: 480px) and (max-width: 768px) {*/

/*}*/

